.calendar-component {
  position: absolute;
  bottom: -100px;
  left: 60px;
}
.leaflet-container {
  z-index:-1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#infoWindow {
  position:absolute;
  background-color:yellow;
  display:none;
  text-align: center;
  width:150px;
  height:20px;
  z-index:1;
}
