.calendar-component {
  position: absolute;
  bottom: -100px;
  left: 60px;
}
.about-data {
  color:white;
}
.leaflet-container {
  z-index:-1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
