.controlPanel {
  position: fixed;
  height: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 20vw;
  border-right: 1px solid #000;
}
.controlPanel__header {
  height: 10vh;
  width: 100%;
}
.controlPanel__menu {
  height: 90vh;
  width: 100%;
}
.controlPanel__header__hamburger {
  position: absolute;
  right: 0;
  cursor: pointer;
  background-color: red;
}
.disabled {
  left: 1rem;
  width: fit-content;
}
