
.leaflet-container {
  z-index:-1;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
  /*Hide calendar until user clicks on country and dates are fetched*/
.calendar-chart {
  visibility:hidden;
}
